<!-- HTML for listing survey -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Survey Date</th>
      <th scope="col">Recomendation</th>
      <th scope="col">Like Student</th>
      <th scope="col">Like Location</th>
      <th scope="col">Like Campus</th>
      <th scope="col">Like Atmosphere</th>
      <th scope="col">Like Dorm Rooms</th>
      <th scope="col">Like Sports</th>
      <th scope="col">Interest</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pd of service.list">
    <td>{{pd.FirstName}}</td>
    <td>{{pd.LastName}}</td>
    <td>{{pd.Street}}</td>
    <td>{{pd.City}}</td>
    <td>{{pd.State}}</td>
    <td>{{pd.Zip}}</td>
    <td>{{pd.MobileNumber}}</td>
    <td>{{pd.Email}}</td>
    <td>{{pd.SurveyDate}}</td>
    <td>{{pd.Recomendation}}</td>
    <td>{{pd.LikeStudent}}</td>
    <td>{{pd.LikeLocation}}</td>
    <td>{{pd.LikeCampus}}</td>
    <td>{{pd.LikeAtmosphere}}</td>
    <td>{{pd.LikeDormRooms}}</td>
    <td>{{pd.LikeSports}}</td>
    <td>{{pd.Radio}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.SurveyId)"></i>
    </td>
  </tr>
  </tbody>
</table>
